body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #fffced;
}

.full-page{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-page2{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*first page*/
.title-container{
	background-color: #2e2f31;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo{
	width: 40vw;
	height: auto;
}

.logo > img , .about-container > img{
	width: 100%;
}

.quote-logo{
	color: #fff;
	font-size: 1.1em;
	margin: 80px;
	text-align: center;
}

/*second page*/
#bg-2{
	background:url(blue-background.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-image: url(blue-background.jpg); */
}

.quote-container{
	width: 55vw;
	/*height: 70vh;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	font-style: italic;
}

.quote{
	font-size: 2.4em;
	font-weight: 900;
	text-align: center;
	margin: 0;
}

.name{
	font-size: 1.5em;
	margin-left: auto;
	margin-right: 15%;
	/*margin-top: 15px;*/
}

/*third page*/
.about-container{
	width: 60vw;
}

.about-container > h1{
	margin-bottom: 50px;
	font-size: 2.5em;
	font-style: italic;
	font-weight: 900;
}

.about-text{
	padding: 0 90px;
}

/*fourth page*/
.what-we-do-process{
	display: grid;
	column-gap: 30px;
	padding: 0 30px;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
}

/*fifth page*/
.purpose-container{
	display: grid;
	grid-template-columns: 1fr 50%;
	align-items: center;
	margin-bottom: 23.2px;
}

.purpose-container > h1{
	font-size: 2.5em;
}

.purpose-note{
	width: 70%;
	font-style: italic;
	font-size: .9em;
}

.purpose-text{
	padding: 0 90px;
}

 /*sixth page*/
.grid_section{
	width: 100%;
    display: grid;
    gap:25px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
/*     padding: 25px; */
}

.box > img {
    width: 100%;
}

.arrow{
	width: 30px;
	height: 30px;
	border-bottom: 1px solid rgb(255, 255, 255);
	border-right: 1px solid rgb(255, 255, 255);
	transform: rotate(45deg);
	margin-bottom: 8vh;
}

/*seventh page*/
.borsa-container{
	height: 100vh;
	display: flex;
	align-items: center;
}
.borsa-container > img {
	height: 100%;
}

/*eighth page*/
.assembly-container{
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 0 20px;
}

.notes-container{
	width: 20%;
}

.somma-vestiti{
	display: flex;
	width: 50%;
	align-items: center;
	margin: 0 auto;
}


footer{
	padding: 5px 0;
	width: 100%;
	background-color: #2e2f31;
	/*display: flex;
	justify-content: space-between;
	align-items: center;*/
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-style: italic;
}

.footer-text{
	margin: 0 20px;
}

.instagram-container{
	height: 100%;
	display: flex;
	align-items: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: transparent;
  color: white;
}

.rights{
	margin-left: auto;
}


/*media query*/
@media only screen and (max-width: 900px) {
	.logo{
		width: 70vw;
	}

	.quote-logo{
		font-size: 0.9em;
	}

	.quote{
		font-size: 2em;
	}
	.name{
		font-size: 1.2em;
	}
	.about-container{
		width:80vw;
	}
	.about-text{
		padding: 0 50px;
		font-size: .9em;
	}
	.purpose-container{
		grid-template-columns: 1fr;
		justify-content: center;
		margin-bottom: 50px;
	}
	.purpose-text{
		font-size: .9em;
	}

	.grid-section{
		padding: 0;
	}

	.borsa-container > img{
		height: 80%;
	}

	.somma-vestiti{
		width: 90%
	}
	.notes-container{
		width: 35%;
	}
	.footer-text{
		font-size: .8em;
	}
}

@media only screen and (max-width: 650px){
	.what-we-do-process{
		grid-template-columns: 1fr;
		width: 60vw;
		max-width: 300px;
		margin: 0 auto;
	}
	#wwd{
		margin-bottom: 0;
	}
	.borsa-container > img{
		height: 60%;
	}
	.somma-vestiti{
		width: 100%;
	}
	.notes-container{
		width: 50%;
	}
}
html{
	margin: 0;
	width: 100vw;
}
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #fffced;
}
.container{
	width: 100vw;
	margin: 0;
}

.full-page{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.full-page2{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*first page*/
.title-container{
	background-color: #2e2f31;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo{
	width: 40vw;
	height: auto;
}

.logo > img , .about-container > img{
	width: 100%;
}

.quote-logo{
	color: #fff;
	font-size: 1.1em;
	margin: 80px;
	text-align: center;
}

/*second page*/
#bg-2{
	background:url(blue-background.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-image: url(blue-background.jpg); */
}

.quote-container{
	width: 55vw;
	/*height: 70vh;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	font-style: italic;
}

.quote{
	font-size: 2.4em;
	font-weight: 900;
	text-align: center;
	margin: 0;
}

.name{
	font-size: 1.5em;
	margin-left: auto;
	margin-right: 15%;
	/*margin-top: 15px;*/
}

/*third page*/
.about-container{
	width: 60vw;
}

.about-container > h1{
	margin-bottom: 50px;
	font-size: 2.5em;
	font-style: italic;
	font-weight: 900;
}

.about-text{
	padding: 0 90px;
}

/*fourth page*/
.what-we-do-process{
	display: grid;
	column-gap: 30px;
	padding: 0 30px;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
}

/*fifth page*/
.purpose-container{
	display: grid;
	grid-template-columns: 1fr 50%;
	align-items: center;
	margin-bottom: 23.2px;
}

.purpose-container > h1{
	font-size: 2.5em;
}

.purpose-note{
	width: 70%;
	font-style: italic;
	font-size: .9em;
}

.purpose-text{
	padding: 0 90px;
}

 /*sixth page*/
.grid_section{
	width: 100%;
    display: grid;
    gap:25px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    /*padding: 25px;*/
}

.box > img {
    width: 100%;
}

.arrow{
	width: 30px;
	height: 30px;
	border-bottom: 1px solid rgb(255, 255, 255);
	border-right: 1px solid rgb(255, 255, 255);
	transform: rotate(45deg);
	margin-bottom: 8vh;
}

/*seventh page*/
.borsa-container{
	height: 100vh;
	display: flex;
	align-items: center;
}
.borsa-container > img {
	height: 100%;
}

/*eighth page*/
.assembly-container{
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	/*justify-content: space-around;*/
	align-items: center;
	padding: 0 10px;
}

.notes-container{
	width: 20%;
}

.somma-vestiti{
	display: flex;
	width: 50%;
	align-items: center;
	margin: 0 auto;
}


footer{
	padding: 5px 0;
	width: 100%;
	background-color: #2e2f31;
	/*display: flex;
	justify-content: space-between;
	align-items: center;*/
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-style: italic;
}

.footer-text{
	margin: 0 20px;
}

.instagram-container{
	height: 100%;
	display: flex;
	align-items: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: transparent;
  color: white;
}

.rights{
	margin-left: auto;
}


/*media query*/
@media only screen and (max-width: 900px) {
	.full-page2{
		height: auto;
	}

	.logo{
		width: 70vw;
	}

	.quote-logo{
		font-size: 0.9em;
	}

	.quote{
		font-size: 2em;
	}
	.name{
		font-size: 1.2em;
	}
	.about-container{
		width:80vw;
	}
	.about-text{
		padding: 0 50px;
		font-size: .9em;
	}
	.purpose-container{
		grid-template-columns: 1fr;
		justify-content: center;
		margin-bottom: 50px;
	}
	.purpose-text{
		font-size: .9em;
	}

	.grid-section{
		padding: 0;
		/*gap: 15px 0;*/
	}

	.borsa-container > img{
		height: 80%;
	}

	.somma-vestiti{
		width: 90%
	}
	.notes-container{
		width: 35%;
	}
	.footer-text{
		font-size: .8em;
	}

}

@media only screen and (max-width: 650px){
	.what-we-do-process{
		grid-template-columns: 1fr;
		width: 60vw;
		max-width: 300px;
		margin: 0 auto;
	}
	#wwd{
		margin-bottom: 0;
	}
	.borsa-container > img{
		/*height: 60%;*/
		width: 90%;
		height: auto;
	}
	.somma-vestiti{
		width: 100%;
	}
	
	.notes-container{
		width: 50%;
	}
}
